
@{
    ViewBag.Title = "Search";
    List<SelectListItem> typelist = new List<SelectListItem>();
    typelist.Add(new SelectListItem() { Text = "Order", Value = "Order" });
    typelist.Add(new SelectListItem() { Text = "Product", Value = "Product" });
    typelist.Add(new SelectListItem() { Text = "Invoice", Value = "Invoice" });

}

<h2>Search for Object state</h2>
<div class="@ViewBag.ErrorClass">
    <span>
        @ViewBag.ErrorMessage
    </span>
</div>
@using (Html.BeginForm("RetrieveObjectState", "Object", FormMethod.Post))
{
    <div class="question">
        <div class="editor-label">
            Object Type :
        </div>
        <div class="editor-field">
            <input type="text" name="objectType" id="objectType" value="" />
        </div>
    </div>
    <div class="question">
        <div class="editor-label">
            Object Id :
        </div>
        <div class="editor-field">
            <input type="text" name="objectId" id="objectId" value="" />
        </div>
    </div>
    <div class="question">
        <div class="editor-label">
            Timestamp :
        </div>
        <div class="editor-field">
            <input type="text" name="objectTimestamp" id="objectTimestamp" value="" />
        </div>
    </div>
    <div style="padding:10px 18%;">
    <input type="submit" value="Search" />
    </div>
    
}
